$mainTextCol: #262626;
$orange: #ff6033;
$white: #ffffff;
$gray: #707070;
$yellow: #ffe92f;
$green: #96b92c;
$purple: #b07cf7;
$pink: #ff2b58;

$dark_blue: #355b82;
$dark_gray: #262626;

$form-color1: #00c4c4;
$form-color2: rgba(0, 196, 196, 0.5);

$padding: 1rem 4rem;
$shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
