@media only screen and (max-width: 740px) {
  .section7 {
    h2 {
      font-size: 50px;
      text-align: center;
    }
    p {
      width: 100%;
      text-align: center;
    }
    .container {
      flex-direction: column-reverse;
      align-items: center;
      form {
        width: 100%;
        margin-top: 1rem;
      }
      .contact {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}
